* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    text-align: center;
}
.main-image {
    margin: 0 auto;
    border: 4px solid red;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
}

img {
    height: 277px;
    max-width: 100%;
}

img:hover {
    cursor: pointer;
}

.main-image img {
    display: block;
    width: 100%;
    
}











